
//Loading
.loading{
  color:white;
}

//Movie Details
// .container{
//   margin:1em;
// }
//
// .main-view{
//   margin: 5em;
// }
.movie-view-container {
  justify-content: space-around;
  margin-left: 15px;
  margin-right: 15px;
}

.movie-poster{
  width:100%;
  height: auto;
}

.movie-block{
  position: absolute;
  color: white;
  line-height: 1.65em;
  display: contents;
}

.movie-title{
  font-size: 2em;
  padding-bottom: .5em;
}

.movie-description{
  padding-bottom: .85em;
}

//Links

.link {
  color: gray;
  text-decoration: none;
}

.link:hover{
  color:#8E081F;
  text-decoration: none;
}

//Buttons

.back-button{
  height:2.5em;
  position: relative;
  left: 90%;
}

.fav-btn {
  margin: 2em 2em 2em 1.4em;
}
