body {
  background: #060807;
}

//Loading
.loading{
  color: white;
}

//Navigation

.navbar{
  background-color: #060807;
  justify-content: center;
}

.design-movie-logo{
  border: none;
  position: relative;
  left: 2.35em;
}

.search-form{
  position: absolute;
  right: 4.2em;
}

.search{
  width: 1.5em;
}

.container{
  padding-top: 3em;
}


//Movie Card
.card {
  margin-bottom: 1.95em;
  position: relative;
  display: flex;
  transition:all 0.3s ease;
  border: none;
}

.card:hover {
  opacity: 40%;
  cursor: pointer;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: .25em;
}

.card-title {
  position: absolute;
  color: #8E081F;
  bottom: 0;
  padding: .25em;
  background: rgba(255,255,255, 0.7);
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

//Buttons

.btn{
  background: white;
  color: black;
}

.btn:hover {
  background:#8E081F;
  border-color: #8E081F;
  color: white;
}

//loading screen

.loading{
  color: white;
  font-size: 3em;
}


//footer

.footer-link{
  color:white;
  transition:all 0.3s ease;
}

.footer-link:hover{
  color:#8E081F;
}
