body {
  background: #060807;
}

//Loading
.loading {
  color: white;
}

//Navigation

.navbar {
  background-color: #060807;
  justify-content: center;
}

.design-movie-logo {
  border: none;
  position: relative;
  left: 2.35em;
}

.container {
  padding-top: 3em;
}

.userProfile {
  margin: 2em 2em 2em 1em ;
  color: white;
}

.username {
  margin-right: 2.5em;
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
  color:white;
  transition:all 0.3s ease;
}

.username:hover{
  text-decoration: none;
  color:#8E081F;
}

.form-control {
  margin-bottom: 2em;
  width: 75%;
}


//Movie Card
.card {
  margin-bottom: 1.95em;
  position: relative;
  display: flex;
  transition:all 0.3s ease;
  border: none;
}

.card:hover {
  opacity: 40%;
  cursor: pointer;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: .25em;
}

.card-title {
  position: absolute;
  color: #8E081F;
  bottom: 0;
  padding: .25em;
  background: rgba(255,255,255, 0.7);
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

//Buttons

.btn {
  background: white;
  color: black;
  transition:all 0.3s ease;
}

.btn:hover {
  background:#8E081F;
  border-color: #8E081F;
  color: white;
}

//loading screen

.loading {
  color: white;
  font-size: 3em;
}


//footer

.footer-link {
  color:white;
  transition:all 0.3s ease;
}

.footer-link:hover {
  color:#8E081F;
}
